/.streamlit
/Analisis_Fake_News_Pemilu_Fix.ipynb
/clean_data.csv
/Dataset_Berita.csv
/Feature_tf-idf.sav
/gitignore
/key_norm.csv
/model_NB.sav
/model_SVM.sav
/new_selected_feature_tf-idf.sav
/requirements.txt
/__pycache__